
.sign-in-container{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-board{
    background-color: var(--primary-foreground);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border);
    width:30%;
    height: 70%;   
    border-radius: 0.5rem;
}



.sign-in-board > img{
    width: 3rem;
    height:3rem;
    border-radius: 50%;
    margin-top:1.5rem;
    margin-bottom:1rem;
}

.sign-in-board > h3{
    margin:0;
}

.login-input{
    margin-bottom: 1.25rem;
}

.password{
    display:flex;
    width:90%;
}

.password >label{
    margin:0;
}

.forgot-password{
    margin-left:auto;
}

.forgot-password:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.sign-in-btn{
    margin-top:0.75rem;
    width:90%;
    background-color: #18181B;
    color:white;
    border-radius: 0.5rem;
    height:2.75rem;
    margin-bottom: 0.75rem;
}
